/* a few lines to create a rudimentary dark main column by inverting all colours */

.client_main_container {
	filter:hue-rotate(180deg) invert(100%); /* filter everything right of the sidebar */
}
#col_flex {
	filter:hue-rotate(180deg) invert(100%); /* revert sidebar */
}

/* revert media */
#col_messages img {
	filter:hue-rotate(180deg) invert(100%);
}
.c-message_attachment__image {
	filter:hue-rotate(180deg) invert(100%);
}
.c-message_attachment__video {
	filter:hue-rotate(180deg) invert(100%);
}
.c-message_attachment__thumb {
	filter:hue-rotate(180deg) invert(100%);
}
.c-dialog .c-message_attachment__video_thumb {
	filter:hue-rotate(180deg) invert(100%); /* for the delete pop up */
}
.c-dialog .c-message_attachment__thumb {
	filter:none; /* for the delete pop up */
}

/* revert for share dialog */
.c-dialog .c-message_attachment__image {
	filter:none;
}
.c-dialog .c-message_attachment__image {
	filter:none;
}

/* revert emoji */
.emoji-outer {
	filter:hue-rotate(180deg) invert(100%);
}
.c-custom_status .emoji {
	filter:hue-rotate(180deg) invert(100%); /* custom statuses have different classes */
}
.c-dialog .emoji-outer,.c-menu .emoji-outer {
	filter:none; /* since popups aren't filtered, undo emoji filter */
}
#col-flex .emoji-outer {
	filter:none; /* undo filter for threads in sidebar */
}

/* revert input complete popup thing */
.tab_complete_ui {
	filter:hue-rotate(180deg) invert(100%);
}

/* revert big profile image at start of conversation */
.p-message_pane__foreword .c-unified_member .member_image {
	filter:hue-rotate(180deg) invert(100%);
}

#col_flex .c-unified_member .member_image {
	filter:none; /* revert sidebar */
}

#footer {
	background:white; /* remove silly gradient and remember the colour gets inverted */
}
