/* change the font to nunito */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900');

[lang] body {
	font-family:'Nunito', sans-serif; /* change the font to the import */
}

[lang] .c-message {
	font-weight:600!important; /* make messages more legible */
}

[lang] .c-message b,[lang] .c-message strong {
	font-weight:800; /* now have to bold the bolding tags even more */
}

.c-message_attachment__author_name, .c-message_attachment__author_name.c-link--button, .c-message_attachment__author_name.c-link--button:active, .c-message_attachment__author_name.c-link--button:focus, .c-message_attachment__author_name.c-link--button:hover {
	font-weight:600; /* message titles */
}
